In [1]:
import pandas as pd

In [2]:
df_news = pd.read_csv('news_data.csv')

In [2]:
df_news = pd.read_csv('/Users/macbook/Documents/PhD_Documents/Second_paper/new_data_2021/headlines/total_news_data/news_total_file.csv')
df_news

           Date                                               Text
0       8/16/21  China's daily crude steel output down 4.4 pct ...
1       8/16/21  MONETARIO - Cosa succede oggi lunedì 16 agosto...
2       8/16/21  India's GSPC seeks 18 LNG cargoes for 2022-202...
3       8/16/21  BUZZ-COMMENT-Norges Bank could change the NOK'...
4       8/16/21  MERCADOS GLOBALES-Acciones mundiales caen por ...
...         ...                                                ...
592853  1/31/24       govern samoa februari 2024 retail fuel price
592854  1/31/24  quadris fuel intern lonqfi share price pass 20...
592855  1/31/24  hapaglloyd ceo freight rate rise q1 2024 compa...
592856  1/31/24     buzza justifi volatil premium eurusd fx option
592857  1/31/24  russia novak current oil price adequ reflect m...

[592858 rows x 2 columns]

In [4]:
headline_count = df_news.groupby('Date').size().reset_index(name='count')
#headline_count = headline_count.rename(columns={'date_column': 'date'})
headline_count

        Date  count
0     1/1/14      6
1     1/1/15     10
2     1/1/16     20
3     1/1/17     10
4     1/1/18     79
...      ...    ...
3678  9/9/19    180
3679  9/9/20    202
3680  9/9/21     11
3681  9/9/22    179
3682  9/9/23     60

[3683 rows x 2 columns]

In [4]:
headline_count.to_csv('headline_count.csv')

In [4]:
headline_count.to_csv('/Users/macbook/Documents/PhD_Documents/Oil_paper/Volatility_prediction_sentiment/new_news/headline_count.csv')

In [5]:
headline_count.to_csv('/Users/macbook/Documents/PhD_Documents/sentiment_methods/sentiments/results/news_count.csv')