In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the data
data = pd.read_csv('/Users/macbook/Documents/PhD_Documents/embedding_methods/embeddings/Llama/llama_mean_embeddings/results/Llama_mean_embedding.csv')

# Drop the unnamed column if it exists
#data = data.drop('Unnamed: 0', axis=1)

# Convert the 'Date' column to datetime format
data['Date'] = pd.to_datetime(data['Date'])

# Sort the DataFrame by the 'Date' column
data = data.sort_values(by='Date')
data = data[data['Date'] <= '2023-12-31']
#data = data.drop('Unnamed: 0', axis = 1)
# Display the sorted DataFrame
print(data)

      Unnamed: 0       Date  embedding_0  embedding_1  embedding_2  \
0              0 2014-01-01    -1.517078    -2.217229    -0.913382
1              1 2014-01-02    -0.979689    -2.329813     0.262478
2              2 2014-01-03    -0.997662    -1.799282     0.674190
3              3 2014-01-04    -2.667392    -3.183720     0.446297
4              4 2014-01-05    -0.737085    -2.182177    -0.897072
...          ...        ...          ...          ...          ...
3647        3647 2023-12-27    -0.656995    -2.252971     0.376653
3648        3648 2023-12-28    -0.604278    -2.214689     0.544032
3649        3649 2023-12-29    -0.423742    -2.130486     0.452730
3650        3650 2023-12-30    -0.423708    -1.412125     0.496694
3651        3651 2023-12-31    -0.171454    -1.060048     0.481268

      embedding_3  embedding_4  embedding_5  embedding_6  embedding_7  ...  \
0       -0.507521    -0.611082     0.249111    -2.486910    -0.126034  ...
1        0.485761     1.299325     0.269965    -1.420801    -1.407264  ...
2        0.402943     1.217756     0.230436    -1.553128    -0.922233  ...
3        2.351726    -1.438229     0.202006    -2.035360    -1.496619  ...
4        0.597660     0.194668    -0.449157    -2.243655    -2.043231  ...
...           ...          ...          ...          ...          ...  ...
3647     0.276496     1.750211     0.437142    -1.547304    -1.431063  ...
3648     0.381458     1.278797     0.246766    -1.612293    -1.211939  ...
3649     0.273175     1.551865     0.465068    -1.556306    -1.263737  ...
3650     0.334190     1.967161    -0.087650    -1.944923    -1.527555  ...
3651     0.414787     2.066307     0.035167    -2.647497    -1.255012  ...

      embedding_4086  embedding_4087  embedding_4088  embedding_4089  \
0          -1.570791       -1.589560        1.307209        2.227435
1          -0.681496       -1.827171       -1.149590        1.630250
2          -0.860526       -1.957971       -1.616549        1.149537
3           0.800360       -1.138010       -0.528566        1.411153
4          -0.247132       -1.497619       -0.659666        1.613350
...              ...             ...             ...             ...
3647       -0.707044       -1.911986       -1.201117        1.385299
3648       -0.796807       -1.841447       -1.170521        1.433115
3649       -1.047830       -1.924732       -1.250958        1.581814
3650       -0.475689       -1.170365       -1.779982        1.354424
3651       -0.751279       -1.474835       -2.178798        0.599262

      embedding_4090  embedding_4091  embedding_4092  embedding_4093  \
0          -0.384882        0.881849        0.834024       -0.407182
1          -0.539237        1.295898        0.694091       -1.279165
2          -1.084965        1.504599        0.861377       -1.231664
3          -0.704134        0.431330        2.058641       -1.239978
4          -0.811531        1.745685        2.008193       -1.202095
...              ...             ...             ...             ...
3647       -0.902329        0.951714        1.039241       -0.728285
3648       -0.968370        1.144443        1.080341       -0.953026
3649       -1.046834        1.113567        1.184565       -0.810587
3650       -0.664718        0.660070        0.963148       -1.212162
3651       -0.998745        0.863635        0.812140       -0.802288

      embedding_4094  embedding_4095
0          -0.447372        0.976078
1          -0.369629        0.759160
2          -0.024600        0.793679
3           0.130047        0.834157
4          -0.473968       -0.324746
...              ...             ...
3647       -0.029609        0.748114
3648        0.047915        0.492415
3649        0.016023        0.642387
3650        0.379576        0.507572
3651        0.337131        0.559075

[3652 rows x 4098 columns]

In [3]:
def process_dataframe(df, asset_name):
    # Convert the date column with different formats
    def parse_date(date):
        for fmt in ('%d/%m/%Y', '%d/%m/%y', '%d-%m-%Y', '%d-%m-%y'):
            try:
                return pd.to_datetime(date, format=fmt)
            except (ValueError, TypeError):
                continue
        return pd.NaT
    
    df['Date'] = df['Date'].apply(parse_date)
    
    df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
        
    # Sort the DataFrame by the date_column
    df = df.sort_values(by='Date')

    df['Return'] = np.log(df['Price']) - np.log(df['Price'].shift(1))
    df['Return'] *= 100

    df = df[['Date', 'Price', 'Return']]
    
    df = df.rename(columns={'Return': f'Return_{asset_name}', 'Volatility': f'Volatility_{asset_name}'})
    
    return df

In [4]:
df_oil = pd.read_csv('Brent Oil Futures Historical Data UK.csv')
df_oil = process_dataframe(df_oil, 'oil')

In [5]:
df_oil

            Date  Price  Return_oil
3948  2009-01-02  46.91         NaN
3947  2009-01-05  49.62    5.616311
3946  2009-01-06  50.53    1.817324
3945  2009-01-07  45.86   -9.697394
3944  2009-01-08  44.67   -2.629114
...          ...    ...         ...
4     2024-04-11  89.74   -0.821223
3     2024-04-12  90.45    0.788061
2     2024-04-15  90.10   -0.387705
1     2024-04-16  90.02   -0.088830
0     2024-04-17  89.47   -0.612849

[3949 rows x 3 columns]

In [6]:
df_oil['Date'] = pd.to_datetime(df_oil['Date'])  # 'errors=coerce' will turn invalid parsing into NaT
data['Date'] = pd.to_datetime(data['Date'])

In [7]:
merged_df = pd.merge(data, df_oil, on='Date', how='inner')
merged_df

,Unnamed: 0,Date,embedding_0,embedding_1,embedding_2,embedding_3,embedding_4,embedding_5,embedding_6,embedding_7,...,embedding_4088,embedding_4089,embedding_4090,embedding_4091,embedding_4092,embedding_4093,embedding_4094,embedding_4095,Price,Return_oil
0,0,2014-01-01,-1.517078,-2.217229,-0.913382,-0.507521,-0.611082,0.249111,-2.486910,-0.126034,...,1.307209,2.227435,-0.384882,0.881849,0.834024,-0.407182,-0.447372,0.976078,110.92,0.108245
1,1,2014-01-02,-0.979689,-2.329813,0.262478,0.485761,1.299325,0.269965,-1.420801,-1.407264,...,-1.149590,1.630250,-0.539237,1.295898,0.694091,-1.279165,-0.369629,0.759160,107.78,-2.871711
2,2,2014-01-03,-0.997662,-1.799282,0.674190,0.402943,1.217756,0.230436,-1.553128,-0.922233,...,-1.616549,1.149537,-1.084965,1.504599,0.861377,-1.231664,-0.024600,0.793679,106.89,-0.829184
3,5,2014-01-06,-1.069120,-2.729595,0.420655,0.334751,1.597477,-0.021764,-1.626255,-0.959567,...,-1.616037,1.168344,-0.984255,1.248603,0.548811,-1.158162,0.371242,0.573909,106.73,-0.149799
4,6,2014-01-07,-0.854772,-2.389608,0.681691,0.488173,1.293586,-0.038374,-1.658753,-1.533764,...,-1.384947,1.359184,-0.673960,1.099037,0.664544,-1.105822,-0.079142,0.553613,107.35,0.579224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2577,3642,2023-12-22,-0.453869,-2.230145,0.644253,0.525343,1.673984,0.249528,-1.584435,-1.370900,...,-1.327805,1.331845,-1.007136,0.925943,0.955503,-0.852209,-0.069095,0.534112,79.07,-0.403888
2578,3646,2023-12-26,-0.695506,-2.032367,0.100971,0.245987,1.367266,0.290824,-1.211013,-1.433106,...,-1.201142,0.969097,-1.140182,0.907447,1.006890,-0.629154,-0.005539,0.560082,81.07,2.497944
2579,3647,2023-12-27,-0.656995,-2.252971,0.376653,0.276496,1.750211,0.437142,-1.547304,-1.431063,...,-1.201117,1.385299,-0.902329,0.951714,1.039241,-0.728285,-0.029609,0.748114,79.65,-1.767094
2580,3648,2023-12-28,-0.604278,-2.214689,0.544032,0.381458,1.278797,0.246766,-1.612293,-1.211939,...,-1.170521,1.433115,-0.968370,1.144443,1.080341,-0.953026,0.047915,0.492415,78.39,-1.594567
2581,3649,2023-12-29,-0.423742,-2.130486,0.452730,0.273175,1.551865,0.465068,-1.556306,-1.263737,...,-1.250958,1.581814,-1.046834,1.113567,1.184565,-0.810587,0.016023,0.642387,77.04,-1.737160

In [ ]:
merged_df.to_csv('embedding_LlAMA_mean_Brent.csv')